.containerSectionStore {
  width: 100%;
  padding: 10px 0px;

  > .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0px;
    width: 100%;

    .title {
      text-align: center;
      width: 100%;
    }

    > p {
      font-weight: bold;
      font-size: 29.25px;
      line-height: 36px;
    }

    .link-container {
      display: flex;
      justify-self: flex-end;
    }

    a.ver-tudo {
      background: #fff;
      color: var(--color-green);
      padding: 10px 30px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      font-weight: 600;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
  }

  > .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
    gap: 35px;
    justify-content: center;
    padding-top: 20px;
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .footer {
    width: 100%;
    text-align: center;

    > button {
      min-width: 105px;
      background: var(--color-green);
      color: var(--white);
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 770px) {
  .containerSectionStore {
    > .body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
      gap: 10px;
      justify-content: center;
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 321px) {
  .containerSectionStore {
    > .body {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
      gap: 10px;
      display: grid;
    }
  }
}
