.button {
  padding: 12px 30px;
  border-radius: 8px;
  background: var(--primary);
  //   background: ${({ type2 }) => (type2 ? handleColorType(type2) : 'var(--primary)')};
  color: white;
  font-weight: bold;
  white-space: nowrap;
  min-width: 105px;

  &.clear {
    background: none;
  }

  &.primary {
    background: var(--primary);
  }

  &.secondary {
    background: var(--secondary);
  }
}

.button-container {
  background: none;
  border: none;
}
