.containerCardStore {
  display: flex;
  flex-direction: column;
  min-height: 230px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid var(--white);
  text-decoration: none;
  color: #3c3c3c;

  .banner {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    padding-top: 50%;

    img {
      z-index: 1;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }

  .containerCountDown {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 5px;
  }

  &:hover {
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 20px -7px;
    cursor: pointer;
  }

  .content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .body {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px;

    .title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .discount-wrapper {
      padding-left: 4px;
      padding-right: 5px;
    }

    .badge {
      padding: 5px 10px;
      border-radius: 4px;

      &.--primary {
        background-color: var(--primary);
        color: var(--white);
        font-weight: 500;
      }
    }
    .price {
      font-size: 16px;
    }
  }

  .footer {
    gap: 10px;
    display: flex;
    padding-left: 10px;
    padding-bottom: 15px;

    .duration {
      font-size: 12px;
    }
  }
}

.backgroundTransparent {
  background-color: rgba(252, 252, 252, 0.8) !important;
}

@media screen and (max-width: 770px) {
  .containerCardStore {
    width: 168px;

    .body {
      padding: 8px;
      .price {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 321px) {
  .containerCardStore {
    width: 150px;
    .body {
      .title {
        font-size: 15px;
      }
    }
  }
}

.countdown {
  align-items: center;
  background-color: #fcfcfc;
  color: red;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  display: flex;
  padding: 0 3px;

  .alarm-wrapper {
    margin-inline-end: 8px;
    position: relative;
    top: 1px;
  }
  .alarm {
    display: block;
  }
  .alarm-mobile {
    display: none;
  }
  .text {
    font-weight: 600;
    font-size: 18px;
  }
  .time {
    font-size: 18px;
  }
  @media screen and (max-width: 1113px) {
    .text {
      font-size: 14px;
    }
    .time {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 950px) {
    .alarm-wrapper {
      margin-inline-end: 1px;
    }
    .text {
      font-size: 12px;
    }
    .time {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 850px) {
    .alarm-wrapper {
      margin-inline-end: 1px;
    }
    .text {
      font-size: 10px;
    }
    .time {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 770px) {
    max-width: 220px;
    .alarm-wrapper {
      margin-inline-end: 8px;
      margin-inline-start: 5px;
      top: 2px;
    }
    .alarm {
      display: none;
    }
    .alarm-mobile {
      display: block;
    }
    .text {
      font-size: 12px;
    }
    .time {
      font-size: 12px;
    }
  }
}
