/* aliasing */

.antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* fonts */

.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

/* sizes */

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-36 {
  font-size: 36px;
}

/* font weight */

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: 700;
}

/* emphasis */

.font-style-regular {
  font-style: normal;
}

.font-style-italic {
  font-style: italic;
}

/* decoration */

.text-decoration-line-through {
  text-decoration: line-through;
}

/* overflow */

.break-word {
  word-break: break-word;
}

.no-wrap {
  white-space: nowrap;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* alignment */

html:not([dir='rtl']) .align-left {
  text-align: left;
}

html[dir='rtl'] .align-left {
  text-align: right;
}
html:not([dir='rtl']) .align-right {
  text-align: right;
}

html[dir='rtl'] .align-right {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}
